.development_filters {
  margin: 10px;
  width: 700px;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.development_filters li {
  list-style: none;
  display: block;
  width: 120px;
  float: left;
  margin-left: 10px;
  border: 1px solid #000;
}

.development_filters a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: #d6dcd9;
  color: #2f3733;
  text-align: center;
}

.development_filters .selected {
  background-color: #5e6e66;
  color: white;
}

.development_filters a:hover {
  background-color: #f1f3f2;
  color: black;
  /* color: #fff; */
}

.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-list-1 {
  width: 1000px;
  margin: 11px auto 39px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(
      33.3333% - 6.66667px
    );
  min-height: 600px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-9 {
  width: 300px;
  height: 175px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1080px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
