{% extends "base.html" %}

{% block title %}About{% endblock %}

{%load static %}

{%block custom_css %}{% static 'about.css' %} {%endblock%}


{% block heading %}About{% endblock %}


{%block content %}

<div class="content">
  <div class="inner-content">
 

<p>Beginning with Vulcan Studios in 1984, Orton Development, Inc. (ODI) has bought and repurposed over 20 million square feet of property throughout the United States. Properties acquired by ODI often pose complex challenges, including structural and seismic deficiencies, environmental contamination, vacancy, blight, historic constraints, and pre-existing litigation. As a self-funded company, ODI is able to rapidly diligence and close on projects, offering sellers a high degree of certainty even with a wide range of unknown property conditions.  ODI has redeveloped a diverse range of properties including factories, offices, warehouses, retail, medical, educational, and live-work projects, repositioning and restoring buildings to functionality and productivity.
</p>
<p>
  Rehabilitation efforts center around purpose-driven design that often result in flex-space and mixed-use facilities that promote synergy between tenants and the community.
</p>

<p>  
ODI is also active in note purchases and has purchased approximately two million square feet of distressed bank notes.
</p>

<p>
  ODI continues to actively acquire properties.
</p>
</div>
</div>

{% endblock %}