{% extends "base.html" %}

{% block title %}{{development.name }}{% endblock %}

{%load static %}

{%block custom_css %}{% static 'detail.css' %} {%endblock%}


      {%block content %}
    <section class="u-align-center u-clearfix u-grey-15 u-section-1" id="sec-af5f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-tabs u-tabs-1">
          <ul class="u-spacing-15 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-white u-button-style u-palette-1-light-1 u-tab-link u-text-custom-color-2 u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">{{ development.name }}</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-valign-bottom-sm u-valign-top-xs u-container-layout-1">
                <img alt="" class="u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2836" data-image-height="1875" src="{{ MEDIA_URL }}{{ development.thumbnail_img }} ">
                <div class="u-custom-list u-text u-text-1">
                  <table id='overview-table'>
                    <tr>
                      <td class='col_attr'>Address</td>
                      <td class='col_val'>{{development.address}}</td>
                    </tr>
                    <tr>
                      <td class='col_attr'>Acquired</td>
                      <td class='col_val'>{{development.acquired}}</td>
                    </tr>
                    <tr>
                      <td class='col_attr'>Zoning Type</td>
                      <td class='col_val'>{{development.getZoningType}}</td>
                    </tr>
                    <tr>
                      <td class='col_attr'>Status</td>
                      <td class='col_val'>
                        {% if development.sold %}
                          <font color='red'> <b>Sold</b></font>
                        {% else %}
                        Available
                        {%endif%}
                      </td>
                    </tr>
                    <tr>
                      <td class='col_attr'>Project Manager</td>
                      <td class='col_val'>
                        {{ development.project_manager_name }}

                        
                        {% if development.project_manager_email %}
                          ({{ development.project_manager_email }})
                        {%endif %}

                      </td>
                    </tr>
                    <tr>
                      <td class='col_attr'>Property Manager</td>
                      <td class='col_val'>

                        {{ development.property_manager_name }}

                        {% if development.property_manager_email %}
                          ({{ development.property_manager_email }})
                        {%endif %}
                      </td>
                    </tr>

                  </table>
                </div>
                <p class="u-text u-text-2">
                  {% if development.property_text %}
                    <b>Property:</b>
                    {{development.property_text}}
                  {% endif %}
                 </p>
                <p class="u-text u-text-2">
                  {% if development.history_text %}
                  <b>History:</b>
                  {{development.history_text}}
                  <br>
                {% endif %}
                </p>

                <p class="u-text u-text-2">
                  {% if development.redevelopment_text %}
                  <b>Redevelopment:</b>
                  {{development.redevelopment_text}}
                  <br>
                {% endif %}

                <p class="u-text u-text-2">
                  {% if development.current_status_text %}
                  <b>Current Status:</b>
                  {{development.current_status_text}}
                  <br>
                {% endif %}
                </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%endblock %}
    
    