
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{%load static %}

{%block custom_css %}{% static 'map.css' %} {%endblock%}

{% block heading %}Home{% endblock %}

{%block content %}

  <div id="map"></div>
  <div id="legend"><h3>Legend</h3></div>

  <!-- <script src="https://unpkg.com/@googlemaps/markerclusterer/@1/dist/index.min.js"></script> -->
  <script src="/static/markerclusterer.js"></script>
    
  <script src="/static/map.js"></script>

  <script defer async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSOibJ9zBuUyhoacW7Y8K0vfvHcTC288E&callback=initMap"></script>  
  
  
{% endblock %}